<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

  <context:annotation-config />

  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <value>config.properties</value>
    </property>
  </bean>

  <bean id="dbi" class="org.skife.jdbi.v2.DBI">
    <constructor-arg index="0" value="jdbc:mysql://${HOST}/${DB}?user=${USER}&amp;password=${PASSWORD}"/>
  </bean>
  <bean id="service" class="com.github.sorhus.jconfig.service.MySQLService">
    <constructor-arg index="0" ref="dbi"/>
  </bean>


  <!--<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig"/>-->
  <!--<bean id="jedisPool" class="redis.clients.jedis.JedisPool">-->
    <!--<constructor-arg index="0" ref="jedisPoolConfig"/>-->
    <!--<constructor-arg index="1" value="localhost"/>-->
  <!--</bean>-->
  <!--<bean id="service" class="com.github.sorhus.jconfig.service.RedisService">-->
    <!--<constructor-arg index="0" ref="jedisPool"/>-->
  <!--</bean>-->

  <!--<bean id="service" class="com.github.sorhus.jconfig.service.HashMapService">-->
    <!--<constructor-arg index="0" value="10"/>-->
  <!--</bean>-->

</beans>